In [2]:
# Load libraries
import pandas
import matplotlib.pyplot as plt

In [4]:
# Load dataset
sensor_data = pandas.read_csv('sensor_data.csv')
quality_data = pandas.read_csv('quality_control_data.csv')

In [5]:
sensor_data.head()

        weight   humidity  temperature  prod_id
0  1030.871118  29.687881    71.995808        1
1  1044.961148  28.862453    68.468664        2
2   972.710479  37.951588    65.121344        3
3  1010.182509  25.076383    67.821336        4
4   970.039236  27.137886    72.931800        5

In [7]:
quality_data.head()

   prod_id quality
0        1    good
1        2    good
2        3    good
3        4    good
4        5    good

In [8]:
df = sensor_data.merge(quality_data, on="prod_id")

In [9]:
df.head()

        weight   humidity  temperature  prod_id quality
0  1030.871118  29.687881    71.995808        1    good
1  1044.961148  28.862453    68.468664        2    good
2   972.710479  37.951588    65.121344        3    good
3  1010.182509  25.076383    67.821336        4    good
4   970.039236  27.137886    72.931800        5    good

In [10]:
df.drop('prod_id',axis=1,inplace=True)
df.head(10)

        weight   humidity  temperature quality
0  1030.871118  29.687881    71.995808    good
1  1044.961148  28.862453    68.468664    good
2   972.710479  37.951588    65.121344    good
3  1010.182509  25.076383    67.821336    good
4   970.039236  27.137886    72.931800    good
5   990.154359  32.422428    71.406207    good
6   965.660243  42.603619    65.876158    poor
7   969.221212  31.655071    74.430054    good
8   976.495532  26.499721    69.866121    good
9   974.993517  38.644055    69.891709    good

In [12]:
# shape
df.shape

(3000, 4)

In [14]:
# descriptions
df.describe()

            weight     humidity  temperature
count  3000.000000  3000.000000  3000.000000
mean    999.940363    34.863581    69.962969
std      28.765904     5.755869     2.857898
min     950.017007    25.008023    65.000514
25%     975.552942    29.783650    67.522238
50%     998.875197    34.825848    69.890808
75%    1025.649219    39.887405    72.414522
max    1049.954013    44.986735    74.999312

In [17]:
df.isnull().sum()

weight         0
humidity       0
temperature    0
quality        0
dtype: int64

In [18]:
df['quality'].value_counts()

good    2907
poor      93
Name: quality, dtype: int64

In [28]:
# quality distribution
print(dataset.groupby('quality').size())

quality
good    2907
poor      93
dtype: int64

In [20]:
df.head()

        weight   humidity  temperature quality
0  1030.871118  29.687881    71.995808    good
1  1044.961148  28.862453    68.468664    good
2   972.710479  37.951588    65.121344    good
3  1010.182509  25.076383    67.821336    good
4   970.039236  27.137886    72.931800    good

In [22]:
# Split-out validation dataset
X = df.drop('quality',axis=1)  #y=mx+c
Y = df['quality']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1)

In [24]:
len(X_test)

300

In [25]:
df.head()

        weight   humidity  temperature quality
0  1030.871118  29.687881    71.995808    good
1  1044.961148  28.862453    68.468664    good
2   972.710479  37.951588    65.121344    good
3  1010.182509  25.076383    67.821336    good
4   970.039236  27.137886    72.931800    good

In [26]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
#from sklearn.tree import DecisionTreeClassifier
#from sklearn.svm import SVC

In [27]:
model.fit(X_train, y_train)

LogisticRegression()

In [28]:
X_test

           weight   humidity  temperature
1210  1014.612032  35.536370    68.362694
1248   986.319477  40.108250    72.311983
839   1003.099202  41.399510    70.351465
1867   962.828318  29.801253    67.468105
2611  1043.332485  38.467447    72.379302
...           ...        ...          ...
573   1002.426849  29.207425    74.997996
1406  1026.453854  40.550369    67.156538
1321   972.992349  29.802358    69.502066
2622  1015.340180  27.481785    70.388575
2117   977.450663  35.849380    67.393329

[300 rows x 3 columns]

In [29]:
model.predict(X_test)

array(['good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'poor', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'poor', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'poor', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'poor', 'good', 'good', 'good', 'good', 'good',
       'good', 'poor', 'good', 'good', 'good', 'poor', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'poor', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'poor', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good'], dtype=object)

In [30]:
model.score(X_test,y_test)

0.9866666666666667

# Now test some values of your own

In [46]:
def predict(w,h,t):
    output = model.predict([[w,h,t]])
    if(output=='poor'):
        print("Please wear a Mask,Air quality is poor ")
    else:
        print("Air Quality is Good")

In [47]:
w=int(input("Enter weight value: "))
h=int(input("Enter humidity value: "))
t=int(input("Enter Temperature value: "))
predict(w,h,t)

Enter weight value: 1030
Enter humidity value: 30
Enter Temperature value: 70
Air Quality is Good